idpbuilder.tar.gz
cdk8s/.tsbuild/.tsbuildinfo
.gitignore
ref-implementation/keys/jwks.json
cdk8s/datree.tar.gz
ref-implementation/keys/sa.key
ref-implementation/keys/sa.pub
node_modules/tsx/dist/

node_modules/

# Temporary clone directories
cdk8s/idpbuilder-localdev-backstage-manifests/
temp-backstage-repo/
certificates/idpbuilder-static-cert.sh
certificates/tls.key
certificates/ca.crt
certificates/tls.crt
